<link rel="stylesheet" href="/css/contact-us.css">

<div class="contact-main">
    <div class="contact-us-container">
        <h1>Shortii</h1>
        <div class="formDiv">
            <form action="/contact-us/message" method="post"required>
                <input type="text" class="form-control mt-2" name="fullName" placeholder="Full name" required>
                    <input type="email" class="form-control mt-2"  name="email" placeholder="Email" required>
                    <input type="number" class="form-control mt-2" name="mobile" placeholder="Mobile number" required>
                <textarea name="message" class="form-control mt-2" cols="30" rows="10" placeholder="Type your queries here.." required></textarea>
                <button class="btn btn-primary mt-4 " type="submit">Send Message</button>
            </form>
    </div>
</div>
